.users{
    height: 102px;
    background-color: #abc;
    margin-left: 5px;
    margin-top: 5px;
    width: 150px;
}
.users span{
    margin-top: 79px;
    position: absolute;
    margin-left: 85px;
}
.countrywise{
    height: 250px;
    background-color: #abc;
    margin-top: 5px;
}